body {
  background-color: lightgray;
}
form {
  background-color: lightsteelblue;
  margin-left: 200px;
  margin-right: 600px;
  margin-top: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
fieldset {
  border: black solid;
}
legend {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
