body{
    background-color: rgb(165, 191, 202);
    color: white;
    text-shadow: 0px 0px 3px black;
  }
  span {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    word-spacing: 8px;
    line-height: 30px;
  }
  .content {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
  }
  img{
    margin-left: 16%;
    width: 70%;
    height: 300px;  
    border: black 1px solid;
  }